.Tab {
	position: absolute;
	width: 100%;
	//height: calc(100% - 2rem);
	border-left: 1px solid;
}

.innerContent {
	padding: 1rem;
	opacity: 1;
	background: #edf0f1;
}

.tabEnterActive {
	animation: changeTab 500ms;
}

.tabExitActive {
	animation: changeTab alternate-reverse 500ms;
}

@keyframes changeTab {
	0% {
		opacity: 0;
	}
	40% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
