@import "./utils/reset.scss";
@import "./utils/variables.scss";
@import "./utils/font.scss";

html {
	box-sizing: border-box;
	font-size: $font-size-default;
	height: 100%;
}

body {
	height: 100%;
	margin: 0 auto;
	font-family: $main-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: $default-color;
}

main {
	max-width: 3200px;
	margin: 0 auto;
	padding-top: 5rem;
}
